APP_NAME=CYRA
APP_ENV=local

DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=cyra
DB_PORT=3306
DB_SSL=false
DB_SSL_CA_PATH=
DB_SSL_CA_BASE64=

CYRA_DIALOGFLOW_PROJECT_ID=chatbot-kampus-lxgv
CYRA_DIALOGFLOW_CREDENTIALS_BASE64=
