# AIVEN MYSQL
DB_HOST=ISI_HOST_MYSQL_AIVEN
DB_PORT=ISI_PORT_MYSQL_AIVEN
DB_USER=avnadmin
DB_PASS=ISI_PASSWORD_MYSQL_AIVEN
DB_NAME=defaultdb
DB_SSL=true

# Isi dengan hasil Base64 dari file ca.pem Aiven.
DB_SSL_CA_BASE64=ISI_BASE64_CA_CERTIFICATE_AIVEN

# GOOGLE DIALOGFLOW
CYRA_DIALOGFLOW_PROJECT_ID=chatbot-kampus-lxgv

# Isi dengan hasil Base64 dari key.json Dialogflow.
CYRA_DIALOGFLOW_CREDENTIALS_BASE64=ISI_BASE64_KEY_JSON_DIALOGFLOW
